@{
    ViewData["Title"] = "Home";
}

<div class="d-flex flex-column align-items-center mt-5 mb-4">
    <h1>Bienvenido al Portal de Noticias</h1>
    <h3 class="mt-4 mb-5" >Vea las noticias más visitadas últimamente</h3>
    <div class="d-flex flex-wrap gap mb-5">
        @for (var i = 0; i < 3; i++)
        {
            <div class="card shadow-lg" style="width: 18rem;">
                <img src="/img/noticia.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="d-flex flex-row gap">
                        <p class="card-text">Internacionales</p>
                        <p class="card-text">América Latina</p>
                    </div>
                    <h5 class="card-title">Nueva ley en el Congreso</h5>
                    <h6 class="card-title">Se aprueba nueva ley en el Congreso</h6>
                    <p class="card-text">El Congreso ha aprobado una nueva ley que...</p>
                    <p class="card-text">18-03-2023</p>
                    <div class="d-flex justify-content-center gap">
                        <a href="#" class="btn btn-warning"><i class="bi bi-eye-fill"></i> Ver Noticia</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

