@{
    ViewData["Title"] = "Home";
}

<div class="d-flex flex-column align-items-center mt-5 mb-4">
    <h1>Bienvenido al Portal de Noticias</h1>
    <h3 class="mt-4 mb-5" >Vea las noticias más visitadas últimamente</h3>
    <div class="d-flex flex-wrap gap mb-5">
        @for (var i = 0; i < 3; i++)
        {
            <div class="card" style="width: 18rem;">
                <img src="https://i.ytimg.com/vi/LtltiTYHW3E/maxresdefault.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="d-flex gap">
                        <a href="#" class="btn btn-warning">Ver Noticia</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

