html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.bg-menu-color {
    background-color: #e0e0e0;
}

.menu-size {
    width: 230px;
    height: 100vh;
}

.gap {
    gap: 20px;
}

.container {
    margin-left: 420px;
}

.rounded-dropdown {
    border-radius: 10px;
    padding: 0.5rem; 
    margin-bottom: 10px; 
}

.rounded-dropdown option {
    border-radius: 10px;
}
