@model ModelNoticiasTemas

@{
    ViewData["Title"] = "Noticias";
}

<div> 
    <div class="d-flex flex-column align-items-center">
        <h1 class="mt-5 mb-4">Noticias</h1>
    </div>
    <a class="dropdown-item" asp-controller="User" asp-action="Login">Login</a>
    <a class="dropdown-item" asp-controller="User" asp-action="SingUp">Login</a>
    <div class="d-flex flex-row gap mb-5">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-filter"></i> Filtros
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" asp-controller="Noticia" asp-action="FiltrarNoticiasCriterio" asp-route-selectedCriterio="Enviadas">Enviadas</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Noticia" asp-action="FiltrarNoticiasCriterio" asp-route-selectedCriterio="Comentadas">Comentadas</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Noticia" asp-action="FiltrarNoticiasCriterio" asp-route-selectedCriterio="Calificadas">Calificadas</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Noticia" asp-action="FiltrarNoticiasCriterio" asp-route-selectedCriterio="Vistas">Vistas</a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-filter"></i> Temas
            </button>
            <ul class="dropdown-menu">
                @foreach(var tema in Model.Temas)
                {
                    <li>
                        <a class="dropdown-item" asp-controller="Noticia" asp-action="FiltrarNoticiasTema" asp-route-selectedTema="@tema.Titulo">@tema.Titulo</a>
                    </li>
                }                  
            </ul>
        </div>
    </div>
    <div class="d-flex flex-wrap gap mb-5">
        @foreach (var noticia in Model.Noticias)
        {
            <div class="card shadow-lg" style="width: 350px;">
                <img src="/img/noticia.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="d-flex flex-row gap">
                        <p class="card-text">@noticia.Tema.Titulo</p>
                        <p class="card-text">@noticia.SubTema.Titulo</p>
                    </div>
                    <h5 class="card-title">Nueva ley en el Congreso</h5>
                    <h6 class="card-title">Se aprueba nueva ley en el Congreso</h6>
                    <p class="card-text">El Congreso ha aprobado una nueva ley que...</p>
                    <p class="card-text">18-03-2023</p>
                    <div class="d-flex gap">
                        <a href="#" class="btn btn-primary"><i class="bi bi-chat-dots"></i> Comentar</a>
                        <a href="#" class="btn btn-primary"><i class="bi bi-star-half"></i> Calificar</a>
                        <a href="#" class="btn btn-primary"><i class="bi bi-share"></i> Compartir</a>
                    </div>
                </div>
            </div>         
        }
    </div>
    <!-- Modal -->
    <div class="modal fade shadow-lg" id="add-noticia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>                  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>




