<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoLenguajesBaseDatos.styles.css" asp-append-version="true" />
    <link href="~/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="~/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="d-flex">
        <div class="pt-5 bg-menu-color menu-size position-fixed shadow-lg">
            <h2 class="text-center mb-4">Menú</h2>
            <nav>
                <ul class="align-content-center nav flex-column gap">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Home" asp-action="Home">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Noticia" asp-action="Listado">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Noticia" asp-action="MisNoticias">Mis Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Noticia" asp-action="Historial">Historial Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Noticia" asp-action="Historial">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="User" asp-action="SingUp">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="User" asp-action="Login">Iniciar Sesión</a>
                    </li>    
                </ul>
            </nav>
        </div>   
        <div class="container">
            <main role="main" class="pb-4">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ProyectoLenguajesBaseDatos - <a asp-area="" asp-controller="" asp-action="">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
