<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoLenguajesBaseDatos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoLenguajesBaseDatos.styles.css" asp-append-version="true" />
</head>
<body>
    <div style="display: flex;">
        <div style="padding-top: 50px; width: 230px; height: auto; background-color: #e0e0e0;">
            <h2 style="text-align: center; margin-bottom: 20px;">Menú</h2>
            <nav>
                <ul style="align-content: center; gap: 20px" class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Mis Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Iniciar Sesión</a>
                    </li>              
                </ul>
            </nav>
        </div>   
        <div class="container">
            <main role="main" class="pb-4">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ProyectoLenguajesBaseDatos - <a asp-area="" asp-controller="" asp-action="">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
